/* Reset some default styles */
body, h1, h2, h3, ul, li, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1f84d7;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #222;
  text-align: center;
}


h2,p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #222;
 
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li, p {
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
}

li:hover {
  background-color: #a20fa7;
  transform: translateY(-2px);
}

p:hover {
  background-color: #a20fa7;
  transform: translateY(-2px);
}

.details {
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details h2 {
  margin-top: 0;
  color: #222;
  font-size: 24px;
}

.details p {
  color: #666;
  margin-top: 10px;
}
